body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    height: 30px;
    background-color: #FEF8D5;
    gap: 10px;
    padding-left: 10%;
    padding-top: 20px;
}
a{
    color: black;
}
a:hover{
    cursor: pointer;
    background-color: #D1F8D5;
}
.navbar{
    background-color: #333333;
    height: 60px;
    display:flex;
    justify-content: space-around;
    /* align-items: center; */
}
.con{
    display: flex;
}
.ul{
    list-style: none;
    gap: 20px;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.section-nav{
    display: flex;
    gap: 40px;
    /* align-items: center; */
}
.nav{
    display: flex;
    gap: 10px;
    float: left;
}
.img{
    margin-top: 15px;
}
.logo{
    z-index: 1;
}
.sub-img{
    /* margin-top: -5px; */
    background: url("./images/bridge1.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
    /* border: 2px solid green; */
    
}
.img-2{
    /* float: right; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
}
.text{
    color: white;
    margin-left: 130px;
    margin-top: 100px;
    width: 40%;
}
.button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: #D71921;
    color: white;
    margin-left: 105px;
    border-radius: 3px;
}
.but{
    margin-top: -35px;
    margin-left: 22
    5px;
    
}
ul{
    display: inline-flex;
    list-style: none;
}
.list{
    text-align: center;
    align-items: center;
    margin-top: -40px;
    height: 45px;
    width: 160px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    color: black;
}
